## Data Coalition of fixtures and league tables

Within this workbook all the premier league fixtures from 1993 to 2018 and all the premier league tables during the period are combined into one usable csv.
As well as this some useful columns have been added which may aid in finding a link between the league results. These are the difference in league position, the form over the past 2,3,4,5 games of the team whose result is being calculated.
Other columns which could be added are the form of the opposition and the difference between the forms of the two sides.

Throughout the workbook there are various comments and also the data is regularly displayed so as to show th echanges that have been made. I have highlighted these where useful.

In [1]:
#here I just import the basic packages that will be used in theis worksheet
#Numpy and Pandas for there usual data analysis and datetime to help catorgarise the date string into a date easier.
import numpy as np
import pandas as pd
from datetime import datetime

# Premier league Games

Start by importing the Premier league game data so we can see what we are working with, this is a basic set downloaded from Kaggle.

In [2]:
LeagueGames = pd.read_csv("EPL_Set.csv")
#LeagueGames is a DataFrame from pandas.
LeagueGames

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Season
0,E0,14/08/93,Arsenal,Coventry,0,3,A,NaN,NaN,NaN,1993-94
1,E0,14/08/93,Aston Villa,QPR,4,1,H,NaN,NaN,NaN,1993-94
2,E0,14/08/93,Chelsea,Blackburn,1,2,A,NaN,NaN,NaN,1993-94
3,E0,14/08/93,Liverpool,Sheffield Weds,2,0,H,NaN,NaN,NaN,1993-94
4,E0,14/08/93,Man City,Leeds,1,1,D,NaN,NaN,NaN,1993-94
5,E0,14/08/93,Newcastle,Tottenham,0,1,A,NaN,NaN,NaN,1993-94
6,E0,14/08/93,Oldham,Ipswich,0,3,A,NaN,NaN,NaN,1993-94
7,E0,14/08/93,Sheffield United,Swindon,3,1,H,NaN,NaN,NaN,1993-94
8,E0,14/08/93,Southampton,Everton,0,2,A,NaN,NaN,NaN,1993-94
9,E0,14/08/93,West Ham,Wimbledon,0,2,A,NaN,NaN,NaN,1993-94
10,E0,15/08/93,Norwich,Man United,0,2,A,NaN,NaN,NaN,1993-94
11,E0,16/08/93,Tottenham,Arsenal,0,1,A,NaN,NaN,NaN,1993-94
12,E0,17/08/93,Everton,Man City,1,0,H,NaN,NaN,NaN,1993-94
13,E0,17/08/93,Ipswich,Southampton,1,0,H,NaN,NaN,NaN,1993-94
14,E0,17/08/93,Leeds,West Ham,1,0,H,NaN,NaN,NaN,1993-94
15,E0,17/08/93,Wimbledon,Chelsea,1,1,D,NaN,NaN,NaN,1993-94
16,E0,18/08/93,Blackburn,Norwich,2,3,A,NaN,NaN,NaN,1993-94
17,E0,18/08/93,Coventry,Newcastle,2,1,H,NaN,NaN,NaN,1993-94
18,E0,18/08/93,Man United,Sheffield United,3,0,H,NaN,NaN,NaN,1993-94
19,E0,18/08/93,QPR,Liverpool,1,3,A,NaN,NaN,NaN,1993-94
20,E0,18/08/93,Sheffield Weds,Aston Villa,0,0,D,NaN,NaN,NaN,1993-94
21,E0,18/08/93,Swindon,Oldham,0,1,A,NaN,NaN,NaN,1993-94
22,E0,21/08/93,Blackburn,Oldham,1,0,H,NaN,NaN,NaN,1993-94
23,E0,21/08/93,Coventry,West Ham,1,1,D,NaN,NaN,NaN,1993-94
24,E0,21/08/93,Everton,Sheffield United,4,2,H,NaN,NaN,NaN,1993-94
25,E0,21/08/93,Ipswich,Chelsea,1,0,H,NaN,NaN,NaN,1993-94
26,E0,21/08/93,Leeds,Norwich,0,4,A,NaN,NaN,NaN,1993-94
27,E0,21/08/93,Man United,Newcastle,1,1,D,NaN,NaN,NaN,1993-94
28,E0,21/08/93,QPR,Southampton,2,1,H,NaN,NaN,NaN,1993-94
29,E0,21/08/93,Sheffield Weds,Arsenal,0,1,A,NaN,NaN,NaN,1993-94
...,...,...,...,...,...,...,...,...,...,...,...
9634,E0,28/04/18,Swansea,Chelsea,0,1,A,0.0,1.0,A,2017-18
9635,E0,29/04/18,Man United,Arsenal,2,1,H,1.0,0.0,H,2017-18
9636,E0,29/04/18,West Ham,Man City,1,4,A,1.0,2.0,A,2017-18
9637,E0,30/04/18,Tottenham,Watford,2,0,H,1.0,0.0,H,2017-18
9638,E0,4/5/2018,Brighton,Man United,1,0,H,0.0,0.0,D,2017-18
9639,E0,5/5/2018,Bournemouth,Swansea,1,0,H,1.0,0.0,H,2017-18
9640,E0,5/5/2018,Everton,Southampton,1,1,D,0.0,0.0,D,2017-18
9641,E0,5/5/2018,Leicester,West Ham,0,2,A,0.0,1.0,A,2017-18
9642,E0,5/5/2018,Stoke,Crystal Palace,1,2,A,1.0,0.0,H,2017-18
9643,E0,5/5/2018,Watford,Newcastle,2,1,H,2.0,0.0,H,2017-18
9644,E0,5/5/2018,West Brom,Tottenham,1,0,H,0.0,0.0,D,2017-18
9645,E0,6/5/2018,Arsenal,Burnley,5,0,H,2.0,0.0,H,2017-18
9646,E0,6/5/2018,Chelsea,Liverpool,1,0,H,1.0,0.0,H,2017-18
9647,E0,6/5/2018,Man City,Huddersfield,0,0,D,0.0,0.0,D,2017-18
9648,E0,8/5/2018,Swansea,Southampton,0,1,A,0.0,0.0,D,2017-18
9649,E0,9/5/2018,Chelsea,Huddersfield,1,1,D,0.0,0.0,D,2017-18
9650,E0,9/5/2018,Leicester,Arsenal,3,1,H,1.0,0.0,H,2017-18
9651,E0,9/5/2018,Man City,Brighton,3,1,H,2.0,1.0,H,2017-18
9652,E0,9/5/2018,Tottenham,Newcastle,1,0,H,0.0,0.0,D,2017-18
9653,E0,10/5/2018,West Ham,Man United,0,0,D,0.0,0.0,D,2017-18
9654,E0,13/05/18,Burnley,Bournemouth,1,2,A,1.0,0.0,H,2017-18
9655,E0,13/05/18,Crystal Palace,West Brom,2,0,H,0.0,0.0,D,2017-18
9656,E0,13/05/18,Huddersfield,Arsenal,0,1,A,0.0,1.0,A,2017-18
9657,E0,13/05/18,Liverpool,Brighton,4,0,H,2.0,0.0,H,2017-18
9658,E0,13/05/18,Man United,Watford,1,0,H,1.0,0.0,H,2017-18
9659,E0,13/05/18,Newcastle,Chelsea,3,0,H,1.0,0.0,H,2017-18
9660,E0,13/05/18,Southampton,Man City,0,1,A,0.0,0.0,D,2017-18
9661,E0,13/05/18,Swansea,Stoke,1,2,A,1.0,2.0,A,2017-18
9662,E0,13/05/18,Tottenham,Leicester,5,4,H,1.0,2.0,A,2017-18
9663,E0,13/05/18,West Ham,Everton,3,1,H,1.0,0.0,H,2017-18

Now we need to remove any non useful data, is is unlikely half time data will be relevant in biulding our model, so this will be removed. 

The division also shouldn't be useful as all games are expected to be in the Premier league, but this will be checked before deleting. It is checked below to ensure there is only one value which will be the premier league if true.

In [3]:
LeagueGames['Div'].unique()

array(['E0'], dtype=object)

Hence from the above it can be seen that only one value exists in the Div column and therefore it can be removed.

The goals will also be removed as it seems unlikely to be useful.

In [4]:
LeagueGames = LeagueGames.drop(['Div','FTHG','FTAG','HTHG','HTAG','HTR'],axis=1)
LeagueGames.head()

       Date     HomeTeam        AwayTeam FTR   Season
0  14/08/93      Arsenal        Coventry   A  1993-94
1  14/08/93  Aston Villa             QPR   H  1993-94
2  14/08/93      Chelsea       Blackburn   A  1993-94
3  14/08/93    Liverpool  Sheffield Weds   H  1993-94
4  14/08/93     Man City           Leeds   D  1993-94

The "Season Column will be converted into something more useable such as seasonStart and seasonEnd.
This will allow an easier comparison to the final league table from the season before.

In [5]:
LeagueGames['seasonStart'] = LeagueGames['Season'].apply(lambda title: title.split('-')[0])
LeagueGames['seasonEnd'] = LeagueGames['Season'].apply(lambda title: title.split('-')[1])
LeagueGames['seasonEnd'] = LeagueGames['seasonEnd'].astype(int)
LeagueGames['seasonStart'] = LeagueGames['seasonStart'].astype(int)
LeagueGames['seasonEnd'] = np.where(LeagueGames['seasonEnd']<=20,2000+LeagueGames['seasonEnd'],
                                    1900+LeagueGames['seasonEnd'])

# A simple Lambda expression was used to split the season in 2 and then the first and 
# second part were taken for the start and end respectively
# These were then converted from strings to int types, to allow easier subtraction and sorting later.

LeagueGames.tail(1)

          Date  HomeTeam AwayTeam FTR   Season  seasonStart  seasonEnd
9663  13/05/18  West Ham  Everton   H  2017-18         2017       2018

Now because all results need to be considered, the table will be duplicated and every game duplicated, the new columns will have team, home/away, opponent, result, season. The reason for the duplication is that currently every team appears once for each fixture but it would be easier to double each fixture. Then each team appears twice for the same fixture, once as the team whose result is being modelled and once as the opposition.

This way it will be easier to analyse the data and the teams league position as the team and the opposition

In [6]:
LeagueGamesHome = LeagueGames
LeagueGamesHome['team'] = LeagueGamesHome['HomeTeam']
LeagueGamesHome['opposition'] = LeagueGamesHome['AwayTeam']
LeagueGamesHome = LeagueGamesHome.drop(['HomeTeam','AwayTeam'],axis=1)
LeagueGamesHome['result'] = np.where(LeagueGamesHome['FTR']=='H', 'Win',np.where(LeagueGamesHome['FTR']=='A','Loss','Draw'))
LeagueGamesHome['ho/Aw'] = 'Home'
LeagueGamesHome.tail()

,Date,FTR,Season,seasonStart,seasonEnd,team,opposition,result,ho/Aw
9659,13/05/18,H,2017-18,2017,2018,Newcastle,Chelsea,Win,Home
9660,13/05/18,A,2017-18,2017,2018,Southampton,Man City,Loss,Home
9661,13/05/18,A,2017-18,2017,2018,Swansea,Stoke,Loss,Home
9662,13/05/18,H,2017-18,2017,2018,Tottenham,Leicester,Win,Home
9663,13/05/18,H,2017-18,2017,2018,West Ham,Everton,Win,Home

In [7]:
LeagueGamesAway = LeagueGames
LeagueGamesAway['team'] = LeagueGamesAway['AwayTeam']
LeagueGamesAway['opposition'] = LeagueGamesAway['HomeTeam']
LeagueGamesAway = LeagueGamesAway.drop(['HomeTeam','AwayTeam'],axis=1)
LeagueGamesAway['result'] = np.where(LeagueGamesAway['FTR']=='H', 'Loss',np.where(LeagueGamesAway['FTR']=='A','Win','Draw'))
LeagueGamesAway['ho/Aw'] = 'Away'
LeagueGamesAway.head()

,Date,FTR,Season,seasonStart,seasonEnd,team,opposition,result,ho/Aw
0,14/08/93,A,1993-94,1993,1994,Coventry,Arsenal,Win,Away
1,14/08/93,H,1993-94,1993,1994,QPR,Aston Villa,Loss,Away
2,14/08/93,A,1993-94,1993,1994,Blackburn,Chelsea,Win,Away
3,14/08/93,H,1993-94,1993,1994,Sheffield Weds,Liverpool,Loss,Away
4,14/08/93,D,1993-94,1993,1994,Leeds,Man City,Draw,Away

In [8]:
LeagueGamesCombo = pd.concat([LeagueGamesHome,LeagueGamesAway])

#This just simply combines the two created dataframes which were duplcuates reversed into one listing.
#This listing has the columns identified below

LeagueGamesCombo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19328 entries, 0 to 9663
Data columns (total 9 columns):
Date           19328 non-null object
FTR            19328 non-null object
Season         19328 non-null object
seasonStart    19328 non-null int32
seasonEnd      19328 non-null int32
team           19328 non-null object
opposition     19328 non-null object
result         19328 non-null object
ho/Aw          19328 non-null object
dtypes: int32(2), object(7)
memory usage: 1.3+ MB

In [9]:
#Now attention is turned to the date column which as can be seen from looking at the type below is currently just an object.
#It's easier to work with a datetime object so it will be converted.

LeagueGamesCombo['Date'].tail()

9659    13/05/18
9660    13/05/18
9661    13/05/18
9662    13/05/18
9663    13/05/18
Name: Date, dtype: object

In [10]:
LeagueGamesCombo['date'] =  pd.to_datetime(LeagueGamesCombo['Date'],dayfirst=True)
LeagueGamesCombo = LeagueGamesCombo.drop(['Date','FTR'],axis=1)

# Then the old date column and the FTR column are removed as they are obsolete

LeagueGamesCombo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19328 entries, 0 to 9663
Data columns (total 8 columns):
Season         19328 non-null object
seasonStart    19328 non-null int32
seasonEnd      19328 non-null int32
team           19328 non-null object
opposition     19328 non-null object
result         19328 non-null object
ho/Aw          19328 non-null object
date           19328 non-null datetime64[ns]
dtypes: datetime64[ns](1), int32(2), object(5)
memory usage: 1.2+ MB

In [11]:
LeagueGamesCombo.columns=LeagueGamesCombo.columns.str.strip()
LeagueGamesCombo = LeagueGamesCombo.sort_values(['team','date'])
LeagueGamesCombo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19328 entries, 0 to 7383
Data columns (total 8 columns):
Season         19328 non-null object
seasonStart    19328 non-null int32
seasonEnd      19328 non-null int32
team           19328 non-null object
opposition     19328 non-null object
result         19328 non-null object
ho/Aw          19328 non-null object
date           19328 non-null datetime64[ns]
dtypes: datetime64[ns](1), int32(2), object(5)
memory usage: 1.2+ MB

Next it is important to establish the form of each team. For the purposes of this workbook form will consist of the number of point gained in the previous 2, 3, 4 and 5 games. If on an initial linear regression use it is found that one of these metrics is not useful it will be discarded.

Currently this is only for the team being focused on and also runs accross seasons which may or may not be helpful.

First we must establish the points gained by the 'Team' in each of their games which should be straightforward, a fixture number is also added so help keep track of each teams fixtures each season.

In [12]:
LeagueGamesCombo['teamPoints'] = np.where(LeagueGamesCombo['result']=='Win',3,np.where(LeagueGamesCombo['result']=='Draw',1,0))
LeagueGamesCombo = LeagueGamesCombo.reset_index()
LeagueGamesCombo = LeagueGamesCombo.drop('index',axis=1)

In [13]:
LeagueGamesCombo = LeagueGamesCombo.reset_index()
LeagueGamesCombo.head()

,index,Season,seasonStart,seasonEnd,team,opposition,result,ho/Aw,date,points
0,0,1993-94,1993,1994,Arsenal,Coventry,Loss,Home,1993-08-14,0
1,1,1993-94,1993,1994,Arsenal,Tottenham,Win,Away,1993-08-16,3
2,2,1993-94,1993,1994,Arsenal,Sheffield Weds,Win,Away,1993-08-21,3
3,3,1993-94,1993,1994,Arsenal,Leeds,Win,Home,1993-08-24,3
4,4,1993-94,1993,1994,Arsenal,Everton,Win,Home,1993-08-28,3

In [14]:
LeagueGamesCombo

,index,Season,seasonStart,seasonEnd,team,opposition,result,ho/Aw,date,points
0,0,1993-94,1993,1994,Arsenal,Coventry,Loss,Home,1993-08-14,0
1,1,1993-94,1993,1994,Arsenal,Tottenham,Win,Away,1993-08-16,3
2,2,1993-94,1993,1994,Arsenal,Sheffield Weds,Win,Away,1993-08-21,3
3,3,1993-94,1993,1994,Arsenal,Leeds,Win,Home,1993-08-24,3
4,4,1993-94,1993,1994,Arsenal,Everton,Win,Home,1993-08-28,3
5,5,1993-94,1993,1994,Arsenal,Blackburn,Draw,Away,1993-09-01,1
6,6,1993-94,1993,1994,Arsenal,Ipswich,Win,Home,1993-09-11,3
7,7,1993-94,1993,1994,Arsenal,Man United,Loss,Away,1993-09-19,0
8,8,1993-94,1993,1994,Arsenal,Southampton,Win,Home,1993-09-25,3
9,9,1993-94,1993,1994,Arsenal,Liverpool,Draw,Away,1993-10-02,1
10,10,1993-94,1993,1994,Arsenal,Man City,Draw,Home,1993-10-16,1
11,11,1993-94,1993,1994,Arsenal,Oldham,Draw,Away,1993-10-23,1
12,12,1993-94,1993,1994,Arsenal,Norwich,Draw,Home,1993-10-30,1
13,13,1993-94,1993,1994,Arsenal,Aston Villa,Loss,Home,1993-11-06,0
14,14,1993-94,1993,1994,Arsenal,Chelsea,Win,Away,1993-11-20,3
15,15,1993-94,1993,1994,Arsenal,West Ham,Draw,Away,1993-11-24,1
16,16,1993-94,1993,1994,Arsenal,Newcastle,Win,Home,1993-11-27,3
17,17,1993-94,1993,1994,Arsenal,Coventry,Loss,Away,1993-12-04,0
18,18,1993-94,1993,1994,Arsenal,Tottenham,Draw,Home,1993-12-06,1
19,19,1993-94,1993,1994,Arsenal,Sheffield Weds,Win,Home,1993-12-12,3
20,20,1993-94,1993,1994,Arsenal,Leeds,Loss,Away,1993-12-18,0
21,21,1993-94,1993,1994,Arsenal,Swindon,Win,Away,1993-12-27,3
22,22,1993-94,1993,1994,Arsenal,Sheffield United,Win,Home,1993-12-29,3
23,23,1993-94,1993,1994,Arsenal,Wimbledon,Win,Away,1994-01-01,3
24,24,1993-94,1993,1994,Arsenal,QPR,Draw,Home,1994-01-03,1
25,25,1993-94,1993,1994,Arsenal,Man City,Draw,Away,1994-01-15,1
26,26,1993-94,1993,1994,Arsenal,Oldham,Draw,Home,1994-01-22,1
27,27,1993-94,1993,1994,Arsenal,Norwich,Draw,Away,1994-02-13,1
28,28,1993-94,1993,1994,Arsenal,Everton,Draw,Away,1994-02-19,1
29,29,1993-94,1993,1994,Arsenal,Blackburn,Win,Home,1994-02-26,3
...,...,...,...,...,...,...,...,...,...,...
19298,19298,2011-12,2011,2012,Wolves,Swansea,Draw,Home,2011-10-22,1
19299,19299,2011-12,2011,2012,Wolves,Man City,Loss,Away,2011-10-29,0
19300,19300,2011-12,2011,2012,Wolves,Wigan,Win,Home,2011-11-06,3
19301,19301,2011-12,2011,2012,Wolves,Everton,Loss,Away,2011-11-19,0
19302,19302,2011-12,2011,2012,Wolves,Chelsea,Loss,Away,2011-11-26,0
19303,19303,2011-12,2011,2012,Wolves,Sunderland,Win,Home,2011-12-04,3
19304,19304,2011-12,2011,2012,Wolves,Man United,Loss,Away,2011-12-10,0
19305,19305,2011-12,2011,2012,Wolves,Stoke,Loss,Home,2011-12-17,0
19306,19306,2011-12,2011,2012,Wolves,Norwich,Draw,Home,2011-12-20,1
19307,19307,2011-12,2011,2012,Wolves,Arsenal,Draw,Away,2011-12-27,1
19308,19308,2011-12,2011,2012,Wolves,Bolton,Draw,Away,2011-12-31,1
19309,19309,2011-12,2011,2012,Wolves,Chelsea,Loss,Home,2012-01-02,0
19310,19310,2011-12,2011,2012,Wolves,Tottenham,Draw,Away,2012-01-14,1
19311,19311,2011-12,2011,2012,Wolves,Aston Villa,Loss,Home,2012-01-21,0
19312,19312,2011-12,2011,2012,Wolves,Liverpool,Loss,Home,2012-01-31,0
19313,19313,2011-12,2011,2012,Wolves,QPR,Win,Away,2012-02-04,3
19314,19314,2011-12,2011,2012,Wolves,West Brom,Loss,Home,2012-02-12,0
19315,19315,2011-12,2011,2012,Wolves,Newcastle,Draw,Away,2012-02-25,1
19316,19316,2011-12,2011,2012,Wolves,Fulham,Loss,Away,2012-03-04,0
19317,19317,2011-12,2011,2012,Wolves,Blackburn,Loss,Home,2012-03-10,0
19318,19318,2011-12,2011,2012,Wolves,Man United,Loss,Home,2012-03-18,0
19319,19319,2011-12,2011,2012,Wolves,Norwich,Loss,Away,2012-03-24,0
19320,19320,2011-12,2011,2012,Wolves,Bolton,Loss,Home,2012-03-31,0
19321,19321,2011-12,2011,2012,Wolves,Stoke,Loss,Away,2012-04-07,0
19322,19322,2011-12,2011,2012,Wolves,Arsenal,Loss,Home,2012-04-11,0
19323,19323,2011-12,2011,2012,Wolves,Sunderland,Draw,Away,2012-04-14,1
19324,19324,2011-12,2011,2012,Wolves,Man City,Loss,Home,2012-04-22,0
19325,19325,2011-12,2011,2012,Wolves,Swansea,Draw,Away,2012-04-28,1
19326,19326,2011-12,2011,2012,Wolves,Everton,Draw,Home,2012-05-06,1
19327,19327,2011-12,2011,2012,Wolves,Wigan,Loss,Away,2012-05-13,0

The below are functions designed to establish a teams form in the premier league exclusively. This takes the form of the number of points earned in the previous 'x' games. It currently runs from 2 to 5 as the method is not the most efficient meaning that bigger ones will take longer.

In [15]:
def find_last2(x):
    if x == 0:
        return 0
    elif x == 1:
        return LeagueGamesCombo['points'][x-1]
    elif LeagueGamesCombo['team'][x] != LeagueGamesCombo['team'][x-1]:
        return 0
    elif LeagueGamesCombo['team'][x-2] != LeagueGamesCombo['team'][x]:
        return LeagueGamesCombo['points'][x-1]
    else:
        return LeagueGamesCombo['points'][x-1]+LeagueGamesCombo['points'][x-2]
    
def find_last3(x):
    if x == 0:
        return 0
    elif x == 1:
        return LeagueGamesCombo['points'][x-1]
    elif x == 2:
        return LeagueGamesCombo['points'][x-1] + LeagueGamesCombo['points'][x-2]
    
    elif LeagueGamesCombo['team'][x] != LeagueGamesCombo['team'][x-1]:
        return 0
    elif LeagueGamesCombo['team'][x] != LeagueGamesCombo['team'][x-2]:
        return LeagueGamesCombo['points'][x-1]
    elif LeagueGamesCombo['team'][x] != LeagueGamesCombo['team'][x-3]:
        return LeagueGamesCombo['points'][x-1] + LeagueGamesCombo['points'][x-2]
    
    else:
        return LeagueGamesCombo['points'][x-1] + LeagueGamesCombo['points'][x-2] + LeagueGamesCombo['points'][x-3]
    
def find_last4(x):
    if x == 0:
        return 0
    elif x == 1:
        return LeagueGamesCombo['points'][x-1]
    elif x == 2:
        return LeagueGamesCombo['points'][x-1] + LeagueGamesCombo['points'][x-2]
    elif x == 3:
        return LeagueGamesCombo['points'][x-1] + LeagueGamesCombo['points'][x-2] + + LeagueGamesCombo['points'][x-3]
    
    elif LeagueGamesCombo['team'][x] != LeagueGamesCombo['team'][x-1]:
        return 0
    elif LeagueGamesCombo['team'][x] != LeagueGamesCombo['team'][x-2]:
        return LeagueGamesCombo['points'][x-1]
    elif LeagueGamesCombo['team'][x] != LeagueGamesCombo['team'][x-3]:
        return LeagueGamesCombo['points'][x-1] + LeagueGamesCombo['points'][x-2]
    elif LeagueGamesCombo['team'][x] != LeagueGamesCombo['team'][x-4]:
        return LeagueGamesCombo['points'][x-1] + LeagueGamesCombo['points'][x-2] + LeagueGamesCombo['points'][x-3]
    
    else:
        return LeagueGamesCombo['points'][x-1] + LeagueGamesCombo['points'][x-2] + LeagueGamesCombo['points'][x-3] + LeagueGamesCombo['points'][x-4]
    
def find_last5(x):
    if x == 0:
        return 0
    elif x == 1:
        return LeagueGamesCombo['points'][x-1]
    elif x == 2:
        return LeagueGamesCombo['points'][x-1] + LeagueGamesCombo['points'][x-2]
    elif x == 3:
        return LeagueGamesCombo['points'][x-1] + LeagueGamesCombo['points'][x-2] + + LeagueGamesCombo['points'][x-3]
    elif x == 4:
        return LeagueGamesCombo['points'][x-1] + LeagueGamesCombo['points'][x-2] + + LeagueGamesCombo['points'][x-3] + LeagueGamesCombo['points'][x-4]
    
    elif LeagueGamesCombo['team'][x] != LeagueGamesCombo['team'][x-1]:
        return 0
    elif LeagueGamesCombo['team'][x] != LeagueGamesCombo['team'][x-2]:
        return LeagueGamesCombo['points'][x-1]
    elif LeagueGamesCombo['team'][x] != LeagueGamesCombo['team'][x-3]:
        return LeagueGamesCombo['points'][x-1] + LeagueGamesCombo['points'][x-2]
    elif LeagueGamesCombo['team'][x] != LeagueGamesCombo['team'][x-4]:
        return LeagueGamesCombo['points'][x-1] + LeagueGamesCombo['points'][x-2] + LeagueGamesCombo['points'][x-3]
    elif LeagueGamesCombo['team'][x] != LeagueGamesCombo['team'][x-5]:
        return LeagueGamesCombo['points'][x-1] + LeagueGamesCombo['points'][x-2] + LeagueGamesCombo['points'][x-3] + LeagueGamesCombo['points'][x-4]
    
    else:
        return LeagueGamesCombo['points'][x-1] + LeagueGamesCombo['points'][x-2] + LeagueGamesCombo['points'][x-3] + LeagueGamesCombo['points'][x-4] + LeagueGamesCombo['points'][x-5]

In [16]:
LeagueGamesCombo['team_form_2games'] = LeagueGamesCombo['index'].apply(lambda x : find_last2(x))
LeagueGamesCombo['team_form_3games'] = LeagueGamesCombo['index'].apply(lambda x : find_last3(x))
LeagueGamesCombo['team_form_4games'] = LeagueGamesCombo['index'].apply(lambda x : find_last4(x))
LeagueGamesCombo['team_form_5games'] = LeagueGamesCombo['index'].apply(lambda x : find_last5(x))

Now it is also worth finding out the form of all the Opposition teams leading into each game as well to see if that has an impact on the result, it could be that a useful metric is instead to look at the difference in form between the two teams to see if this is a useful predictor.

All that needs to be done to find the opposition form is to find to corresponding reverse fixture where the "team" form will have ben found already

In [26]:
LeagueGamesCombo[["opposition","date"]].loc[5010]

opposition                Arsenal
date          1993-08-14 00:00:00
Name: 5010, dtype: object

In [19]:
LeagueGamesCombo['opp_form_2games'] = LeagueGamesCombo['index'].apply(lambda x : find_form2)

,index,Season,seasonStart,seasonEnd,team,opposition,result,ho/Aw,date,points,team_form_2games,team_form_3games,team_form_4games,team_form_5games,oppPoints
5010,5010,1993-94,1993,1994,Coventry,Arsenal,Win,Away,1993-08-14,3,0,0,0,0,0
16151,16151,1993-94,1993,1994,Tottenham,Arsenal,Loss,Home,1993-08-16,0,3,3,3,3,3
13890,13890,1993-94,1993,1994,Sheffield Weds,Arsenal,Loss,Home,1993-08-21,0,1,1,1,1,3
7739,7739,1993-94,1993,1994,Leeds,Arsenal,Loss,Away,1993-08-24,0,3,4,4,4,3
5900,5900,1993-94,1993,1994,Everton,Arsenal,Loss,Away,1993-08-28,0,3,6,9,9,3

# Premier League Tables

Now that we have our League games in a useable format it's time to also add in the league position that each team finished in the previous season. In addition to this each clubs form will need to be established.

In [ ]:
LeagueTables = pd.read_csv("tables_1968_2019.csv")
LeagueTables.head()

Now need to remove the non useful features, the season and teams and position will be used, but not the other features on this first run through, these columns should be removed for ease of use.

In [ ]:
LeagueTables = LeagueTables.drop(['name','p','w','d','l','f','a','gd','points'],axis=1)

The rows which relate to seasons for which no data is present for game results should also be dropped, this means all years before the season 92/93.

So create a new column with the year the season started and ended

In [ ]:
LeagueTables['seasonStart'] = LeagueTables['season'].apply(lambda title: title.split('/')[0])
LeagueTables['seasonEnd'] = LeagueTables['season'].apply(lambda title: title.split('/')[1])
LeagueTables.head()

Finally for ease of use with the data any data from before the 92/93 season can be discarded

In [ ]:
LeagueTables['seasonEnd'] = LeagueTables['seasonEnd'].astype(int)
LeagueTables = LeagueTables[LeagueTables['seasonEnd'] >= 1993]
LeagueTables.info()

In [ ]:
LeagueTables

# Combine Results and league Position

It is now time to combine the game results with each teams league position they finished the previous year in.

First it is important to consider is all teams have the same names in each dataset as they have come from different sources. The number of teams should stay the same. 

Below it is checked whether each source has the same number of teams and what their names are.

In [ ]:
LTT = pd.Series(LeagueTables['team'].sort_values().unique())
LGT = pd.Series(LeagueGamesCombo['team'].sort_values().unique())
Check1 = pd.concat((LTT,LGT),axis=1)
Check1

From the above table we can see that the offending teams that are causing the differences are 'Leeds United','West Ham united' which appears on the league table side twice. To filter it out Leed united will be renamed Leeds in the LeagueTables dataframe.

On the League games side we can see that Middlesboro also appears twice so this should also be filtered out in favour of Middlesborough.

In [ ]:
LeagueTables['team'] = np.where(LeagueTables['team'] == 'Leeds United', 'Leeds', LeagueTables['team'])
LeagueTables['team'] = np.where(LeagueTables['team'] == 'West Ham United', 'West Ham', LeagueTables['team'])
LeagueGamesCombo['team'] = np.where(LeagueGamesCombo['team'] == 'Middlesboro', 'Middlesbrough', LeagueGamesCombo['team'])
LeagueGamesCombo['opposition'] = np.where(LeagueGamesCombo['opposition'] == 'Middlesboro', 'Middlesbrough', LeagueGamesCombo['opposition'])
LeagueGamesCombo.info()

Now check that the team names are almost consistent by reusing the same formula as before

In [ ]:
LTT = pd.Series(LeagueTables['team'].sort_values().unique())
LGTt = pd.Series(LeagueGamesCombo['team'].sort_values().unique())
LGTo = pd.Series(LeagueGamesCombo['opposition'].sort_values().unique())
Check2 = pd.concat((LTT,LGTt,LGTo),axis=1,)
Check2

Now change the League Table team names so that they match the LeagueGamesCombo Array, this will make it easier later when looking up league position.

In [ ]:
check_dict = Check2.set_index(0)[1].to_dict()
LeagueTables = LeagueTables.replace(check_dict)

No do a final check to ensure that all team names are aligned

In [ ]:
LTT = pd.Series(LeagueTables['team'].sort_values().unique())
LGTt = pd.Series(LeagueGamesCombo['team'].sort_values().unique())
LGTo = pd.Series(LeagueGamesCombo['team'].sort_values().unique())
Check3 = pd.concat((LTT,LGTt,LGTo),axis=1)
Check3['check'] = (Check3[0] == Check3[1]) & (Check3[0] == Check3[2])
Check3

Now it's important to actually use the league table in the previous season to guide the current seasons results.
So for the results in the 93/94 season we need the table from the 92/93.
So For the tables we will use the 'SeasonEnd' column and for the results we should use the Season 'SeasonStart' column. 

To do this a pivot table will be made.

In [ ]:
LeagueTables.head(3)

In [ ]:
UnstackedLeagueTables = LeagueTables.pivot(index='team',columns='seasonEnd',values='pos').unstack().to_frame()
UnstackedLeagueTables.info()

In [ ]:
LeagueGamesCombo.info()

In [ ]:
LeagueGamesCombo1 = LeagueGamesCombo.merge(UnstackedLeagueTables, left_on=["seasonStart", "team"],
                                          right_on=['seasonEnd','team'],how='left')

In [ ]:
LeagueGamesCombo1.info()

In [ ]:
LeagueGamesCombo2 = LeagueGamesCombo1.merge(UnstackedLeagueTables, left_on=["seasonStart", "opposition"],
                                          right_on=['seasonEnd','team'],how='left')

In [ ]:
LeagueGamesCombo2.info()

In [ ]:
LeagueGamesCombo2 = LeagueGamesCombo2.rename(columns={"0_x": "py_T_Leag_Pos", "0_y": "py_O_Leag_Pos"})
LeagueGamesCombo2.info()

In [ ]:
LeagueGamesCombo2 = LeagueGamesCombo2.fillna(21)
LeagueGamesCombo2.info()

A more useful measure than league position may be the difference in league position of the two sides so this metric will also be included.

In [ ]:
LeagueGamesCombo2['leagueDifference'] = LeagueGamesCombo2['py_T_Leag_Pos'] - LeagueGamesCombo2['py_O_Leag_Pos']

In [ ]:
LeagueGamesCombo2.to_csv(r"C:\Users\Elliott\Documents\Python\PremierLeaguePredictor\combined_data.csv")

#finally the dataframe is exported for use within another workbook where the data analysis and logistic/linear regaression can take place